<footer class="page-flooter grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="black-text">Equipo 1 Grupo 65</h4>
        <p class="grey-text text-lighten-4">MISION TIC 2022</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="w-text">DEVELOPER TEAM</h5>
        <ul>
          <li><a class="yellow-text text-lighten-3" href="#!">NIVER HARVEY ALARCÓN OVIEDO </a></li>
          <li><a class="yellow-text text-lighten-3" href="#!">ANGEL MANUEL ORDOÑEZ MORENO </a></li>
          <li><a class="yellow-text text-lighten-3" href="#!">JESUS GUSTAVO ROMERO GUARNIZO </a></li>
          <li><a class="yellow-text text-lighten-3" href="#!">MORLY ROMERO ROMERO </a></li>
          <li><a class="yellow-text text-lighten-3" href="#!">FREDYS MANUEL SANTOS PLAZA </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="https://github.com/Tavo2310/WebCiclo4.git">__https://github.com/Tavo2310/WebCiclo4.git  > </a>
    <a class="black-text text-lighten-4 right" href="#!">Link del Git</a>
         
    
    </div>
  </div>
</footer>
